html{
  line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/************************* 
STYLES 
*************************/

/* COLOURS */
/* navy-blue: #070670
blue: #0060CA
light-blue: #91CEFF
yellow: #FCDC74 */

/* FONT-FAMILY */
/* H1 = font-family: 'Tourney', cursive; */
/* BODY = font-family: 'Montserrat', sans-serif; */

/* GLOBAL STYLES */
html {
  font-size: 125%;
  background-color: rgb(95, 167, 222);
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, 
p, 
h2, 
ul, 
li,
h5 {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

/* REMOVE LATER, NO LONGER NEED IT */

/* .selected {
  border: 5px solid #FBD400;
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}
button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*================================================================================================================
HEADER STLYES
================================================================================================================*/

header {
  background-color: #070670;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0;
  width: 100%;
}

h1 {
  font-family: 'Tourney', cursive;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #FBD400;
  border-top:    7px solid  #FBD400;
  border-bottom:7px solid #FBD400;
  border-left:   7px solid  #FBD400;
  margin: 20px;
}

.goldStars {
  position: relative;
  top: -58px;
  left: 120px;
  width: 200px;
  max-width: 100%;
  filter: brightness(130%) hue-rotate(10deg);
  transform: rotate(-60deg);
}

.movieReel {
  position: relative;
  bottom: -35px;
  right: 100px;
  width: 300px;
  max-width: 100%;
}

/* NAV */
nav {
  background-color: #0a0042;
  border-bottom: 5px solid #FBD400;
}

nav ul { 
  display: flex;
  justify-content: space-around;
  padding: 15px;  
}

nav li {
  color: azure;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

nav li:hover {
  color: #FBD400;
}

li a:visited {
  text-decoration: none;
  color: azure;
}

li a:hover {
  color: #FBD400;
}

/*================================================================================================================
BODY STLYES
================================================================================================================*/

main {
  background-image: url('./assets/backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #080670ad;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-width: 6px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FBD400, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.intro h3 {
  font-weight: normal;
  color:white;
  text-align: center;
  line-height: 1.8rem ;
  width: 75%;
  text-shadow: 2px 2px #070670;
}

.theRules {
  text-decoration: underline;
}

.intro p {
  font-weight: normal;
  color:white;
  text-align: center;
  line-height: 1.8rem ;
  width: 75%;
  text-shadow: 2px 2px #070670;
}

.intro li {
  list-style-type: decimal;
  color: white;
}

.fiveStars {
  position: relative;
  bottom: 2px;
  width: 200px;
  filter: brightness(130%);
  max-width: 100%;
}

/* FORM */
.catalogueForm {
  background-color: #FBD400;
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.catalogueForm label {
  font-weight: bold;
}

.catalogueForm input {
  background-color: whitesmoke;
  border: 2px solid #070670;
  border-radius: 4px;
  text-align: center;
  height: 40px;
  margin: 0 10px;
}

.catalogueForm input:focus {
  background-color: #a9caee;
  color: #070670;
}

.catalogueForm button {
  background-color: #070670;
  color: #FBD400;
  width: 175px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.catalogueForm button:hover,
.catalogueForm button:focus {
  background-color: #a9caee;
  border: 3px solid #070670;
  color: #070670;
}

/* CATALOGUE */

.displayCatalogue {
  background-color: #91CEFF ;

}

.displayCatalogue h2 {
  text-align: center;
  padding-top: 15px;
}

.displayCatalogueList {
  background-color: #91CEFF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.displayCatalogueList ul {
  padding: 0;
}

.displayCatalogueList li {
  text-align: center;
  width: 300px;
  padding: 20px;
}

.fa-star {
  position: relative;
  left: -95px;
  top: 15px;
  color:#FBD400; 
  font-size: 1.8rem;
  text-shadow: 2px 2px #070670;
}

.fa-star {
  animation: rotation 4s infinite linear;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*==============================================================================================================
USER RANK PAGE 
===============================================================================================================*/

.ranking h3 {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem;
}

.displayMovieList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movieContainer {
  display: flex;
  height: 400px;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: calc(1280px / 5);
  /* padding: 10px 0; */
  margin: 2rem 0;
}

.userRankInfo {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 350px;
}

.userRankInfo img {
  width: calc(900px / 5);
  padding-top: .50rem;
  align-self: center;
}

.movieContainer h5 {
  font-size: 1.1rem;
  overflow: hidden;

}

.movieContainer form select {
  display:flex;
}

.createListPagebuttons {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  margin:.5rem 1rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 4px;
  cursor:pointer;
}

.saveListButton {
  color: white;
  background-color: green;
}

.saveListButton:active,
.saveListButton:hover,
.saveListButton:focus {
  background-color: darkgreen;
}

.newListButton,
.myListButton {
  color: #FBD400;
  background-color: #070670;
}

.newListButton:active,
.newListButton:hover,
.newListButton:focus,
.myListButton:active,
.myListButton:hover,
.myListButton:focus {
  color: #070670;
  background-color: #91CEFF;
}

/*==============================================================================================================
USER LIST PAGE 
================================================================================================================*/

.displayUserLists h2{
  background-color:#FBD400;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px white;
  border-width: 8px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FBD400, 
      #91ceff88
    ) 1 100%;
}


.displayUserLists ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.displayUserLists h4 {
  text-transform: uppercase;
  background-color:#FBD400;
  padding: 15px;
  border-bottom: 5px solid #070670;
} 

.displayUserLists li {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: center;
  width: 120px;
  padding: 15px;
  background-color: #91CEFF;
} 

.displayUserLists img {
  width: 90px;
}

.displayUserLists p {
  overflow-wrap: none;
}

.deleteListBtn {
  border-style: none;
  transition: all 0.3s ease;
  color: #070670;
  font-size: 1.8rem;
  border-radius: 50px;
  height: 70px;
  width: 70px;
  margin: 10px 10px;
}

.fa-trash {
  font-size: 1.5rem;
  text-align: center;
  padding: 15px;
}

.deleteListBtn:hover {
  background: #FBD400;
}


/*================================================================================================================
TOP MOVIE LIST STLYES
================================================================================================================*/
.topMovieContainer {
  display: flex;
  flex-direction: row;
  margin: 0 0;
}

.wrapper ul {
  margin: 0 0;
}

.topMovieListC {
  background-color: #FBD400;
  border-bottom: 8px solid #070670;
  border-right: 8px solid #070670;
  box-shadow: 20px 20px #d6af00;
  width: 400px;
  padding: 15px 0;
}

.topMovieListC li {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ================================================================================================================
MODAL STYLES
================================================================================================================ */
.modal {
  position:fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: -3rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalContent {
  width: 70%;
  max-width: 700px;
  border-radius: 15px;
  border: 5px solid #3E6765;
  padding: .5rem;
  color: #000;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.closeButton {
  position: absolute;
  background-color: crimson;
  right: .5rem;
  top: .5rem;
}
.closeButton:active,
.closeButton:focus-within,
.closeButton:hover {
  background-color: rgb(133, 14, 38);
}
.saveButton {
  background-color: green;
}
.saveButton:active,
.saveButton:focus-within,
.saveButton:hover {
  background-color: rgb(0, 90, 0);
}
.modalBody {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem;
}
.modalListTitle {
  display: flex;
}
.modalListTitle input {
  flex: 1 1 auto;
}

/*================================================================================================================
FOOTER STLYES
================================================================================================================*/
footer {
  background-color: #070670;
  text-align: center;
  color: #FBD400;
  padding: 10px 0;
  border-top: 5px solid #FBD400;
  padding: 15px;

}

footer a {
  color: #FCDC74;
  font-weight: bold;
}


/************ 
MEDIA QUERIES
************/

@media (max-width: 1132px) {
  .movieReel {
    bottom: -86px;
  }
}

@media (max-width: 1059px) {
  .goldStars {
    top: -108px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  .movieReel {
    width: 180px;
    bottom: -35px;
  }
  .goldStars {
    top: -40px;
  }
}

@media (max-width: 800px) {
  .catalogueForm button {
    margin-top: 10px;
  }
  .movieReel,
  .goldStars {
    display: none;
  }
}